:root {
  --red: #f93822;
  --bcg-black: #000000;
  --bcg-fill-color: var(--bcg-black);
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

/* ========== DROPDOWN ========== */

.dropdown__header {
  transition: all 0.3s var(--easing);
}
.dropdown__header:hover {
  opacity: 0.8;
}

.dropdown__icon__span:nth-of-type(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transition: all 0.3s var(--easing);
}

.dropdown__icon.cc-active .dropdown__icon__span:nth-of-type(2) {
  width: 0;
  opacity: 0;
}
